.eos-tooltip {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(129, 129, 129);
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  line-height: 2;
}

.eos-graph {
  width: 100%;
}

.eos-graph-xlabel {
  font-size: 14px;
  margin-top: -25px;
  text-align: center;
}
