.cite-anchor {
  text-decoration: none;
}

.cite-anchor:hover {
  text-decoration: underline;
}

.about-h {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0px 5px;
}

.ol-space-update {
  margin: 15px 0px;
}

.ol-space-update > li {
  margin: 15px 0px;
}

.contributed-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 1px solid #333;
}

.contributed-table th,
.contributed-table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}

.contributed-table thead tr {
  background-color: #f2f2f2;
}
